<div class="container">
    <button (click)="reset()">refresh</button><br/>
    <ul >
        <li *ngFor="let f of winds" >
            <ul>
                <li *ngFor="let w of f.winds" >
                    <div *ngIf="!w.isOpened" class="snap">
                        <div>
                            <img class="photo" id="w{{w.id}}" style="-webkit-filter: blur(8px);filter: blur(8px);" src={{w.imageUrlSmall}} >
                        </div>
                        <div class="mid">
                            <span>from <span class="name">{{f.userName}}</span></span><br/>
                                <div class="pics">
                                    <img src={{f.pictureUrlSmall}}>
                                </div>
                            <span>{{w.sendDate}}</span><br/>
                                <button (click)="open($event)" id="{{w.id}}">open this wind</button>
                        </div>
                        <div class="map">
                            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{w.latitude}},{{w.longitude}}&zoom=9&size=200x200&&markers=color:red%7Csize:mid%7C{{w.latitude}},{{w.longitude}}&key=AIzaSyAeEd_VfhEy_aHzra-dT6EO6b4VrLXa_6s">
                        </div>
                    </div>
                </li>        
            </ul>
        </li>
    </ul>
</div>
