.contact .pics {
  width: 75px;
  height: 75px;
  border-radius: 200px;
  border: 3px solid snow;
  overflow: hidden;
}

.contact .pics img {
  width: 100%;
}

.contact div {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  text-align: center;
}

.contact div span {
  color: snow;
  font-size: large;
  font-weight: bold;
}

.contact {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px snow;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.container{
    width: 100%;
    max-width: 750px;
}

.container>ul>li {
    margin-top: 20px; 
}

.snap div
{
    width: 30%;
    display: inline-block;
}

.snap div img{
    width: auto;
    max-height: 150px;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .snap div
    {
        display: block;
    }
}

li {
    border: 1px solid black;
}

.mid{
    position: relative;
    top:0;
    left: 0;
}