.pics {
  width: 75px !important;
  height: 75px !important;
  border-radius: 200px;
  border: 3px solid snow;
  overflow: hidden;
}

.pics img {
  width: 100% !important;
}

.contact div {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  text-align: center;
}

.contact div span {
  color: snow;
  font-size: large;
  font-weight: bold;
}

.contact {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px snow;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.container{
    width: 100%;
    max-width: 750px;
}


.snap {
    background-color: rgba(255, 255, 100, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
}

.map {
    padding: 1%;
}

.snap div
{
    width: 30%;
    display: inline-block;
}

.snap div img.photo{
    width: auto;
    max-height: 150px;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .snap div
    {
        padding-left: 5%;
    }

    button {
        width: 100%;
    }

    .map {
        display: none !important;
    }
}


.mid{
    position: relative;
    top:0;
    left: 0;
}

* {
    vertical-align: middle;
}

.name {
    color: snow;
    font-size: medium;
    font-weight: bold;
}
