<div class="container">
  <div style="margin-top:20px" *ngIf="hero">
    <div *ngIf="!imageb" class="pics">
      <img src={{hero.pictureUrlSmall}}>
    </div>
    <div *ngIf="imageb" class="pics">
      <img src={{image}}>
    </div>
    <h2>{{hero.userName}} details!</h2>
    <div>
      <label>first name: </label>
      <input [(ngModel)]="hero.firstName" placeholder="firstName" />
    </div>
    <div>
      <label>last name: </label>
      <input [(ngModel)]="hero.lastName" placeholder="lastName" />
    </div>
    <div>
      <label>birthday: </label>
      <input [(ngModel)]="hero.birthday" placeholder="birthday" />
    </div>
    <div>
    <label>email: </label>
      <input [(ngModel)]="hero.email" placeholder="email" />
    </div>
    <div>
      <label>subscribe day: </label>{{hero.subscribeDay}}
    </div>
    <div>
    <label>photo: </label><input name="file" id="file" type="file" accept="image/*" (change)="changeListener($event)">
    <label class="file" for="file">Choose a file</label>
    </div>
    <br/>
    <br/>
    <div class="center">
      <button (click)="goBack()">Save</button>
      <button (click)="reset()">Reset</button>
      <button (click)="delete()">Delete my account</button>
    </div>
  </div>
</div>
