.pics {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border: 3px solid snow;
  overflow: hidden;
  margin: auto;
}

.pics img {
  width: 100%;
}


button {
  margin: auto;
}

#file{
  display: none;
}

.file {
  background-color: #F0F0F0;
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

.file:hover {
  background-color: #cfd8dc;
}