input {
    border-radius: 5px;
    width: 65%;
    text-align: center;
}
label {

  display: inline-block;
  width: 30%;
  min-width: 5em;
  margin: .5em 0;
  color: #607D8B;
}

.form-group {
    height: 75px;
    width: 100%;
    
}

button {
    width: 100%;
    padding: 10px;
}
