
    <div class="container">
        <h1>Change Password Form</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

        <div class="form-group">
        <label for="currentPassword">current password</label>
        <input type="password"  class="form-control" id="password"
                required
                [(ngModel)]="currentPassword" name="currentPassword"
                #password="ngModel">
        </div>

         <div class="form-group">
        <label for="newPassword">new password</label>
        <input type="password"  class="form-control" id="password"
                required
                [(ngModel)]="newPassword" name="newPassword"
                #password="ngModel">
        </div>

         <div class="form-group">
        <label for="cPassword">retype password</label>
         <input type="password"  class="form-control" id="password"
                required
                [(ngModel)]="cPass" name="cPass"
                #password="ngModel">
        <div [hidden]="cPass == newPassword || !cPass"
            class="alert">
            new password does'nt match.
        </div>
        </div>

       <button  class="btn btn-default" [disabled]="!heroForm.form.valid ||  cPass != newPassword">Submit</button>
        </form>
    </div>