
    <div class="container">
        <h1>Register Form</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <label for="email">email: </label>
            <input type="text" class="form-control" id="email"
                required
                [(ngModel)]="model.email" name="email"
                #email="ngModel" >
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
            email is required
            </div>
        </div>

        <div class="form-group">
            <label for="userName">username: </label>
            <input type="text" class="form-control" id="userName"
                required
                [(ngModel)]="model.userName" name="userName"
                #userName="ngModel" >
            <div [hidden]="userName.valid || userName.pristine"
                class="alert alert-danger">
            username is required
            </div>
        </div>

        <div class="form-group">
            <label for="password">password: </label>
            <input type="password"  class="form-control" id="password"
                    required
                    [(ngModel)]="model.password" name="password"
                    #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
                password is required
            </div>
        </div>

         <div class="form-group">
            <label for="firstName">first name: </label>
            <input type="text"  class="form-control" id="firstName"
                    required
                    [(ngModel)]="model.firstName" name="firstName"
                    #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine"
                class="alert alert-danger">
                first name is required
            </div>
        </div>

         <div class="form-group">
            <label for="lastName">last name: </label>
            <input type="text"  class="form-control" id="lastName"
                    required
                    [(ngModel)]="model.lastName" name="lastName"
                    #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine"
                class="alert alert-danger">
                last name is required
            </div>
        </div>

         <div class="form-group">
            <label for="birthday">birthday: </label>
            <input type="text"  class="form-control" id="birthday"
                    required
                    [(ngModel)]="model.birthday" name="birthday"
                    #birthday="ngModel">
            <div [hidden]="birthday.valid || birthday.pristine"
                class="alert alert-danger">
                birthday is required
            </div>
        </div>
        <div>
            <label>photo: </label><input type="file" accept="image/*" (change)="changeListener($event)">
        </div>
            <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
        </form>
    </div>