    <div class="container">
        <h1>Send a wind</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <label for="duration">duration</label>
            <input type="text" class="form-control" id="duration"
                required
                [(ngModel)]="model.duration" name="duration"
                #duration="ngModel" >
            <div [hidden]="duration.valid || duration.pristine"
                class="alert alert-danger">
            duration is required
            </div>
        </div>

        <label>photo: </label><input name="file" id="file" type="file" accept="image/*" (change)="changeListener($event)">
        <label class="file" for="file">Choose a file</label>

        <label *ngIf="friends"> send to: </label>
        <div style="margin:auto; text-align: center"  *ngFor="let f of friends; let i = index">
            <div class="contact">
                <div class="pics">
                    <img src={{f.pictureUrlSmall}}>
                </div>
                <div>
                    <span>{{f.userName}}</span><br/>
                    <input type="checkbox" value={{f.id}} class="checkedStudent" (change)="checked(f.id)" id={{f.id}}>                   
                </div>
            </div>
        </div>
        
       <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
        </form>
        <div *ngIf="image" id="image">
            <img src="{{image}}">
        </div>
    </div>