img {
    z-index: 5;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: calc(100% - 50px);
    margin: auto;
    overflow: auto;
}

#dura{
    position: absolute;
    top:10;
    left: 10;
    font-size: larger;
    border-radius: 300px;
    border: black solid 3px;
    background-color: gray;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 20;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
